@mixin sticker-variant($angle, $bend, $line-height, $padding-y, $font-size, $border-width){

  $sticker-corner-right-side: true;

  @if $angle > 90deg and $angle < 270deg {
    $sticker-corner-right-side: false;
    $angle: (180deg - $angle);
  }

  $height: sticker-height($border-width, $padding-y, $font-size, $line-height);
  $bend-width: $height * $bend;

  $cosL: cos($angle);
  $cosLL: cos(90deg - $angle);
  $sinL: sin($angle);

  $AE: strip-unit($height / 2);
  $AB: strip-unit($height / 2 - $bend-width);
  $AC: $AB / $cosL;
  $CF: $AE / $cosL;
  $FM: $CF * $cosLL;
  $EG: $AC + $FM;
  $FN: $AE - ($AC - $FM);

  $AQ: strip-unit($bend-width) * $cosL;
  $BQ: strip-unit($bend-width) * $sinL;

  $fold-clip-path: sticker-fold-clip-path($sticker-corner-right-side, $AE, $EG, $FN);
  $unfold-clip-path: sticker-unfold-clip-path($sticker-corner-right-side, $AE, $EG, $FN, $AQ, $BQ);

  $fold-corner-transform: rotate(#{180deg + $angle}) translateX(#{$bend-width * 2});
  $unfold-corner-transform: rotate(#{180deg + $angle}) translateX(#{$height});
  @if($sticker-corner-right-side){
    $fold-corner-transform: rotate(-$angle) translateX($height - $bend-width * 2);
    $unfold-corner-transform: rotate(-$angle) translateX($height);
  }


  // height-related attributes
  border-width: $border-width;
  font-size: $font-size;
  padding-top: $padding-y;
  padding-bottom: $padding-y;
  line-height: $line-height;

  // clip-path
  -webkit-clip-path: $fold-clip-path;
  clip-path: $fold-clip-path;

  // corner
  &::after {
    height: $height;
    width: $height;

    // border correction
    top: -$border-width;
    @if($sticker-corner-right-side) {
      right: -$border-width;
    }
    @else {
      left: -$border-width;
    }

    transform: $fold-corner-transform;
  }

  &:not(.btn-sticker-corner-static){
    &:hover {
      -webkit-clip-path: $unfold-clip-path;
      clip-path: $unfold-clip-path;
      &::after {
        transform: $unfold-corner-transform;
      }
    }
  }

  // sticker fold on hover
  &.btn-sticker-corner-hover {
    -webkit-clip-path: $unfold-clip-path;
    clip-path: $unfold-clip-path;
    &::after {
      transform: $unfold-corner-transform;
    }
    &:hover {
      -webkit-clip-path: $fold-clip-path;
      clip-path: $fold-clip-path;

      &::after {
        transform: $fold-corner-transform;
      }
    }
  }

  // Bootstrap 5 toggle button
  &[data-bs-toggle="button"] {
    -webkit-clip-path: $unfold-clip-path;
    clip-path: $unfold-clip-path;
    &::after {
      transform: $unfold-corner-transform;
    }
    &.active {
      -webkit-clip-path: $fold-clip-path;
      clip-path: $fold-clip-path;
      &::after {
        transform: $fold-corner-transform;
      }
    }
  }

}